.createEditContainer {
  background-color: #121212;
  color: white;
  text-align: center;
}

.createFormTitle {
  font-size: 40px;
  font-weight: bolder;
  color: #7edbb0;
  padding: 10px;
}

.createPlaylistContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.createFormDiv {
  width: 200px;
  margin-right: 100px;
}

.newPlaylistContainer {
  border: 2px solid #7edbb0;
  border-radius: 20px;
  width: 300px;
  min-height: 200px;
}

.playlistIMG {
  max-width: 200px;
  max-height: 200px;
  border: none;
}

.inputTitle {
  padding: 10px;
  font-size: 25px;
  font-weight: bolder;
  color: #7edbb0;
}

.creatorName {
  font-weight: bold;
  padding: 10px;
}

.playlistDesc {
  font-size: 12px;
  padding: 10px;
}

.hideShowBtn {
  width: 150px;
  padding: 3px 10px;
  background-color: #354152;
  color: #7edbb0;
  text-align: center;
  align-items: center;
  border-radius: 45px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.hideShowBtn:hover {
  background-color: #282828;
  border-color: #7edbb0;
  color: white;
}