.allPlaylist{
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-start;
  flex-basis: 33%;
  max-width: 1480px;
  padding: 20px;
  margin: 0 auto;
  height: 100vh;
}

.playlistCategory{
  font-size: 40px;
  font-weight: bolder;
  color: #7edbb0;
  padding: 10px;
  text-align: center;
}

.categoryPlaylistName {
  font-size: 40px;
  font-weight: bolder;
  color: #7edbb0;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 375px) {

  .allPlaylist{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 0;
  }
  .playlistCategory{
    font-size: 25px;
  }
  .categoryPlaylistName{
    font-size: 25px;
  }
}