.userNamePlaylist {
  font-size: 40px;
  font-weight: bolder;
  color: #7edbb0;
  padding: 10px;
  text-align: center;
}

.userPlaylist {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 1480px;
  padding: 20px;
  margin: 0 auto;
  height: 100vh;
}

.deletePlaylistBtn {
  padding: 7px 15px;
  background: linear-gradient(90deg, #7edbb0 15%, teal 100%);
  text-align: center;
  align-items: center;
  border-radius: 45px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 35px;
}

.deletePlaylistBtn:hover {
  background: rgb(207, 91, 83);
}

.editPlaylistBtn {
  padding: 7px 15px;
  background: linear-gradient(90deg, #7edbb0 15%, teal 100%);
  color: #121212;
  text-align: center;
  align-items: center;
  border-radius: 45px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
}
.editPlaylistBtn:hover {
  background: #90d3a7;
  border-color: #7edbb0;
  color: white;
}

@media screen and (max-width: 375px) {
  .userPlaylist {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 0;
  }
  .indivPlaylist {
    margin: 0 auto;
  }

  .userNamePlaylist {
    font-size: 25px;
  }
}
