.signup-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start; 
  align-self: flex-end;
}

.signup-form {
  border: rgb(48, 47, 47) 1px solid;
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem;
  height: 100%;
  width: 30%;
  margin: 4%;
}

.signup-btn {
  background-color: teal;
  height: 30px;
  width: 50%;
  border-radius: 999px;
  height: 5vh;
  font-size: medium;
}

.signup-btn:hover {
  background-color: rgb(75, 77, 77);
  cursor: pointer;
}

body {
  background-color: #354152;
  color: teal;
  align-items: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  margin: 0;
  min-height: 100%;
}

h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
}


input {
  border: 1px solid #242c37;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
  width: 60%;
  height: 20px;
  background-size: 1.5rem;
  background-position: 1rem 50%;
  padding: .5rem 1rem;
  color: #fff;
  margin-bottom: 6%;
}

a {
  color: #7e8ba3;
  /* color: teal; */
}
